$global-font-path: "../fonts";
$chakraPetch-font-path: "../fonts/chakra_petch";

// ##############
// CHAKRA_PETCH
// ##############

@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('#{$chakraPetch-font-path}/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
