$font-family-base: 'Chakra Petch', sans-serif;

$primary: #D40000;
$dark: #16191b;

// Navbar
$navbar-dark-color: #000;
$navbar-dark-hover-color: #000;
$navbar-dark-active-color: #000;
$navbar-dark-icon-color: #000;
$navbar-dark-brand-color: #fff;
$navbar-dark-brand-hover-color: #fff;